<p class="supertiny">&nbsp;</p>

<div id="footer" style="text-align:center">
	
	<%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%= link_to 'About PM', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Privacy Policy', privacy_path %>
	<br /><br />
	<div id="copy">
		Webmaster: <%= mail_to("rbilling@andrew.cmu.edu", "Ryan B", :encode => "javascript") %> 
		&nbsp;&nbsp;&copy 2011
	</div>

</div>