<div id="nav">
	<ul>
	<!-- OPTIONS FOR EVERYONE -->
		<!--<li><em>Option: </em></li>-->
		<li><%= link_to 'Students', students_path %></li>
		<li><%= link_to 'Books', books_path %></li>
		<li><%= link_to 'Categories', categories_path %></li>
		<li><%= link_to 'Checkouts', checkouts_path %></li>
		<li><%= link_to 'Authors', authors_path %></li>
		<li><%= link_to 'Publisher', publishers_path %></li>
		
	</ul>
</div> <!-- end of nav div -->