<% title "RSVP" %>

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

<%= form_tag codes_path do %>
  <p>
    <%= label_tag :encode, "Invite Code" %><br />
    <%= text_field_tag :encode, params[:encode] %>
  </p>
  <p><%= submit_tag "RSVP" %></p>
<% end %>