<% title "Location" %>
 <% content_for :head do %>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
	<%= javascript_tag do %>
		function create_map() {
			var latlng = new google.maps.LatLng(<%= @location.latitude %>,<%= @location.longitude %>);
			var myOptions = {
				zoom:  10,
				center: latlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
			marker = new google.maps.Marker({
				map:map,
				draggable:false,
				animation: google.maps.Animation.DROP,
				position: latlng
				<% if @location.name %>
					,title:"<%= @location.name %>"
				<% end %>
			});
		}
	<% end %>
<% end %>
<div id="map_canvas"></div>
<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>
<p>
  <strong>Street:</strong>
  <%= @location.street %>
</p>
<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @location.zip %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <%= link_to "Edit", edit_location_path(@location) %> |
  <%= link_to "Destroy", @location, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", locations_path %>
</p>
  <!--<iframe src="/google_map/index/?lat=<%=@location.latitude%>&lon=<%=@location.longitude%>" width="300" height="300"></iframe>-->
 

